body {
    background-color: #f0f4f8;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

fieldset {
    border: 2px solid #2980b9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
}

legend {
    font-weight: bold;
    text-align: left;
    color: #34495e;
}

label {
    display: block;
    margin-top: 10px;
    color: #2c3e50;
}

input,
textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffffff;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #1a5a7f;
}

#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #2980b9;
    border-radius: 8px;
    background-color: #ffffff;
    color: #2c3e50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#resumeOutput h2 {
    color: #2980b9;
}

.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}